<div class="container-fluid" style="margin-top: 25px; margin-left: 20px;">
  <div class="row">
    <div class="col-md-8">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <h1>Movable Box</h1>
            </div>
          </div>
        </div>
      </section>
      <div class="example-button-row">
        <button (click)="addBox()">Add New Box</button>
      </div>
      <div style="margin-top: 25px; margin-left: 20px;" *ngFor="let box of boxArray">
        <div (click)="selectedBox(box)" id="{{ 'box' + box }}"
          [ngStyle]="selectedRowIndex == box? {'background-color':'red'} : {'background-color': 'white'}" class="box">
          {{box}}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .box {
    width: 100px;
    height: 100px;
    color: rgba(0, 0, 0, 0.87);
    border: solid 1px #ccc;
    z-index: 10;
  }
</style>