<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="text-align:center;color:gray">
        <h4>Movable Box</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <button mat-raised-button type="button" (click)="addBox()" class="btn">Add New Box</button>
      </div>
      <div style="margin-left: 20px;" *ngFor="let box of boxArray">
        <!-- <mat-divider *ngIf="box >= 2"></mat-divider> -->
        <div (click)="selectedBox(box)" id="{{ 'box' + box }}"
          [ngStyle]="selectedRowIndex == box? {'background-color':'#e53935'} : {'background-color': '#fb8c00'}" class="box">
          {{box}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

